<partial name="_HeroFAQs" />
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 500px;">
            <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Popular FAQs</div>
            <h1 class="mb-4">Sıkça Sorulan Sorular</h1>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="accordion" id="accordionFAQ1">
                    <div class="accordion-item wow fadeIn" data-wow-delay="0.1s">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Bir web sitesi nasıl oluşturulur?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                             data-bs-parent="#accordionFAQ1">
                            <div class="accordion-body">
                                Web sitesi oluşturmak için:

                                Alan adı ve barındırma hizmeti alın.
                                HTML, CSS ve JavaScript gibi web geliştirme dillerini kullanarak içerik ve tasarım oluşturun.
                                Oluşturduğunuz dosyaları bir web sunucusuna yükleyin.
                                Web sitenizi yayınlayın.
                                Bu adımları takip ederek bir web sitesi oluşturabilirsiniz.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeIn" data-wow-delay="0.2s">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Yeni bir web sitesi edinmek ne kadar sürer?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                             data-bs-parent="#accordionFAQ1">
                            <div class="accordion-body">
                                Genel olarak konuşursak, basit bir web sitesi için 2-4 hafta, daha karmaşık bir web sitesi için ise 4-8 hafta gibi bir süre tahmin edilebilir. Ancak, bu süreler projenin özelliklerine ve karmaşıklığına bağlı olarak değişebilir.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeIn" data-wow-delay="0.3s">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Yalnızca HTML web siteleri mi oluşturuyorsunuz?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                             data-bs-parent="#accordionFAQ1">
                            <div class="accordion-body">
                                Hayır, yalnızca HTML kullanarak basit web siteleri oluşturulabilir, ancak günümüzde web siteleri genellikle HTML, CSS ve JavaScript gibi birçok farklı teknolojinin birleşimini kullanarak oluşturulur.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeIn" data-wow-delay="0.4s">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                Web sitem mobil uyumlu olur mu ?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                             data-bs-parent="#accordionFAQ1">
                            <div class="accordion-body">
                                Mobil uyumlu bir web sitesi oluşturmak için responsive web tasarım tekniklerini kullanabilirsiniz. Responsive tasarım, web sitesinin ekran boyutuna ve cihazın özelliklerine otomatik olarak uyum sağlamasını sağlar. Bu şekilde, kullanıcılar farklı ekran boyutlarına sahip cihazlarda web sitenizi rahatlıkla kullanabilir.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="accordion" id="accordionFAQ2">
                    <div class="accordion-item wow fadeIn" data-wow-delay="0.5s">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Sitemin bakımını benim için yapar mısın?
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                             data-bs-parent="#accordionFAQ2">
                            <div class="accordion-body">
                                Sonuç olarak, yapay zeka web sitesi bakımında yardımcı olabilir, ancak tamamen insan müdahalesi olmadan tam bir bakım sağlamak her zaman mümkün olmayabilir.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeIn" data-wow-delay="0.6s">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                Sıkı bir bütçem var. Düşük maliyetli seçenekleriniz var mı?
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                             data-bs-parent="#accordionFAQ2">
                            <div class="accordion-body">
                                Hazır şablonlar,Ücretsiz web sitesi oluşturucular,WordPress,Freelance web tasarımcıları eb sitesi tasarımı için düşük maliyetli bir seçenek olabilir. Bu şablonlar, web sitenizin görünümünü ve özelliklerini özelleştirmenize olanak tanır.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeIn" data-wow-delay="0.7s">
                        <h2 class="accordion-header" id="headingSeven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                Yapay zekanın sİte tasarımdakı etkisi
                            </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                             data-bs-parent="#accordionFAQ2">
                            <div class="accordion-body">
                                Yapay zeka, web tasarımında birçok farklı şekilde kullanılabilir. Örneğin, yapay zeka, web sitelerinin kullanıcı deneyimini geliştirmek için kullanılabilir. Yapay zeka, web sitelerinin SEO'sunu optimize etmek, duyarlı ve mobil uyumlu tasarımlar oluşturmak ve tasarım iş akışını kolaylaştırmak gibi konularda da yardımcı olabilir. Bunun yanı sıra, yapay zeka grafik tasarım araçları da mevcuttur ve bu araçlar, tasarımcıların yaratıcılıklarını ifade etmelerine ve daha benzersiz tasarımlar yapmalarına olanak tanır.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeIn" data-wow-delay="0.8s">
                        <h2 class="accordion-header" id="headingEight">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                Yapay Zekanın Siteye Olan en büyük etkisi  nedir ?
                            </button>
                        </h2>
                        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                             data-bs-parent="#accordionFAQ2">
                            <div class="accordion-body">
                                Chatbotlar ve Canlı Destek: Yapay zeka destekli chatbotlar, web sitelerinde kullanıcıların sorularını yanıtlayabilir ve destek sağlayabilir. Bu, kullanıcıların anında bilgi edinmelerini ve sorunlarını çözmelerini sağlar.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>