<partial name="_HeroTestimonial" />
<div class="container-xxl py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
                <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Referanslar</div>
                <h1 class="mb-4">Müşterilerimiz Ne Diyor?</h1>
                <p class="mb-4">
                    Yapay zeka, web tasarımında birçok farklı özellik sunabilir. Örneğin, yapay zeka teknolojileriyle interaktif özellikler eklemek mümkündür. Bu özellikler arasında chatbot veya sanal asistan kullanarak ziyaretçilerin sorularını yanıtlama ve rehberlik etme gibi işlevler yer alabilir
                </p>
                <a class="btn btn-primary rounded-pill px-4" href="">Daha Fazla</a>
            </div>
            <div class="col-lg-7 wow fadeIn" data-wow-delay="0.5s">
                <div class="owl-carousel testimonial-carousel border-start border-primary">
                    <div class="testimonial-item ps-5">
                        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                        <p class="fs-4">Yapay zeka, otomatikleştirme ve verimlilik sağlama potansiyeliyle web tasarım sürecinde size destek olabilir. Ancak, unutmayın ki yapay zeka teknolojileri her projeye uygun olmayabilir ve bazı durumlarda insan müdahalesi gerekebilir.</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="img/testimonial-1.jpg"
                                 style="width: 60px; height: 60px;">
                            <div class="ps-3">
                                <h5 class="mb-1">Bahar IŞIK</h5>
                                <span>Profession</span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item ps-5">
                        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                        <p class="fs-4">Yapay zeka teknolojileri, daha az zaman ve kaynak harcayarak işleri halletmenize yardımcı olabilir. Özellikle günümüzde iş yükü arttıkça, yapay zeka teknolojileri, web tasarımı gibi işlerde size destek olabilir. Bu sayede, kendinize ve ailenize daha fazla zaman ayırabilirsiniz. Ancak, yapay zeka teknolojilerinin sınırlamaları olduğunu unutmamalısınız ve bazı durumlarda insan müdahalesi gerekebilir.</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="img/testimonial-2.jpg"
                                 style="width: 60px; height: 60px;">
                            <div class="ps-3">
                                <h5 class="mb-1">Abdullah DEMİR</h5>
                                <span>Profession</span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item ps-5">
                        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                        <p class="fs-4">Fazladan bütçeniz olmadan bir iş yapacaksınız. Web siteniz için fazla para ve kaynak ayırmanıza gerek yok, yapay zeka sizin için halleder</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="img/testimonial-3.jpg"
                                 style="width: 60px; height: 60px;">
                            <div class="ps-3">
                                <h5 class="mb-1">Hakim KAYA</h5>
                                <span>Profession</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>